:root{
    --orange-primary: #fa5805;
    --body-bg: #f6f6f6;
    --black-primary: black;
}

#submit{
    background-color: var(--orange-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#limpar{
    background-color: var(--body-bg);
    color: var(--black-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-color: #f8f9fa;
}

a{
    text-decoration: none;
    color: var(--black-primary);
    font-weight: bold;
    margin: 5px;
}

#cadastro {
    border-radius: 20px;
    width: 70%;
    margin: auto;
    padding: 40px;
    
}

@media (max-width: 768px) {
  #cadastro {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #cadastro {
    width: 50%;
    border-radius: 20px;
    margin: auto;
    padding: 40px;
  }
}