body {
    padding-top: 70px;
    background-color: #f8f9fa;
  }
  .navbar-brand {
    font-weight: bold;
  }
  .search-bar {
    max-width: 600px;
    margin: 50px auto;
  }
  .search-controls {
    display: flex;
    gap: 10px;
  }

  .page-content {
    position: sticky;
    margin-top: 10vh;
  }
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .card {
    width: 18rem;
  }

  .item.active {
    display: none;
  }