body{
    background-color: #f6f6f6;
}

.card-payment{
    height: 4rem;
    width: 4rem;
    border-radius: 10px;
}

.card-payment img{
    padding: 0.5rem;
}

.cart-prices{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: start;
    padding: 1rem;
}

.cart-prices p{
    font-weight: bold;
    position: absolute;
    right: 0;
    padding-right: 1.5rem;
}

.card-toggled{
    border: solid 2px gray;
    border-radius: 10px;
    box-shadow: 0.2px 0.4px 0.3px rgba(0, 0, 0, 0.3);
}
